/*
    Tables
*/
table td {
    border: 0;
    vertical-align: top;
    text-align: left;
}

/*
    Formatting
*/
blockquote {
    background: none;
    border-left: 0;
    line-height: 1em;
    margin: 0;
}

/*
    Header
*/

#header-top {
    height: 95px;
}

#logo-container, #logo-container a {
    width: 585px;
}

/*
    Site Layout
*/

#site {
    width: 980px;
}

#content-container {
    width: 100%;
}

#full-width {
    width: 900px;
    margin: 20px 40px;
}

/*
    footer
*/
#footer {
    width: 900px;
    margin: 20px 40px;
    color: #6A6A6A;
    font-style: normal;
    font-family: Verdana,Geneva,sans-serif;
}

/*
    Intro Page
*/

table.intro-table {
    border: 0;
    margin-bottom: 40px;
}

table td:hover {
    background-color: transparent;
}

#skip, #continue {
    width: 250px;
    height: 35px;
    cursor: pointer;
}

#skip:hover, #continue:hover {
    background-image: none;
    background-color: #DADADA;
}

#skip {
    margin-left: 0;
    margin-right: auto;
}

#continue {
    margin-right: 0;
    margin-left: 30%;
    font-weight: bold;
    border: thin solid;
}

#partner-logos {
    margin: 2em auto 0.5em auto;
}