/*
    Header
*/

#header-top {
    height: 95px;
}

#logo-container, #logo-container a {
    width: 580px;
}

/*
    Site Layout
*/

#site {
    width: 980px;
}

#content-container {
    width: 100%;
}

#full-width {
    width: 900px;
    margin: 20px 40px;
}

/*
    footer
*/
#footer {
    width: 900px;
    margin: 20px 40px;
}

/*
    Intro Page
*/

table.intro-table {
    border: 0;
}

table.intro-table  td{
    vertical-align: bottom;
    border: 0;
}

#skip {
    margin-left: 0;
    margin-right: auto;
}

#continue {
    margin-right: 0;
    margin-left: 40%;
}

#partner-logos {
    margin: 2em auto 0.5em auto;
}