/* Map Style */

.olControlPanZoom {
    right: 50px;
    top: 60px;
}

body {
    font-size: 11px;
    font-family: verdana,arial,sans-serif;
    color: #555;
}

h1 h2 h3 h4 {
    color: #000;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
    margin: 7px 0px 5px 0px;    
}

h3 {
    font-size: 15px;
    margin: 7px 0px 3px 0px;    
}

p {
    font-size: 13px;
    margin: 0px 0px 7px 0px;
    font-weight: bold;
    
}

p.top_instruct {
    font-size: 1.0em;
}

p.error_text {
    color: red;
}

p.error_text img {
    width: 20px;
    height: 20px;
}

p.x-panel-static{
    position: static;
}

.west-panel .x-panel-header {
    font-size: 12px;
}

.secondary-panel .x-panel-header{
    background: none;
    background-color: #EEEEEE;
    font-size: 0.8em;
    color: #444444;
    border: none;
}

.secondary-panel .x-panel-body{
    border: none;
}

.x-window-body .x-panel-body  {
    background: none;
}

.west-panel table.resource-list {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 8px;
    border: 1px solid #CCCCCC;
    rules: none;
    background: #EEEEEE;
    width: 270px;
}

.video-link {
    padding: 0px 5px 0px 0px;
    font-size: 10px;
}

.video-panel {
    margin: 3px 0px 0px 15px;
}

.video-img {
    vertical-align: middle;
}

.vab-img {
    vertical-align: bottom;
}

.example-img {
    margin: 5px 0px 5px 0px;
}

.west-panel h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
}

.west-panel p {
    margin-left: 10px;
}

.west-panel {
    font-size: 13px;
    font-weight: bold;
}

.action-panel-header {
    overflow: none;
    background-color: #E6F1FF;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    color: #000;   
    border: 1px solid #0066FF; 
}

.the-footer {
    background-color: #ff9999;
    font-weight: bold;
    color: #333333;
    height: 24;
}

.activity-text {
    font-style: italic;
    color: #0066FF;
}

.gwst-button-panel {
    overflow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

.gwst-padded-table{
    padding: 10px;
}

.draw-icon {
    background-image: url(/media/img/pencil_add.png) ! important;
}

.poly-icon {
    background-image: url(/media/img/pencil_add.png) !important;
}

.cancel-icon {
    background-image: url(/media/img/cancel.png) !important;
}

.olControlMousePosition {
    background-color: #DDDDDD;
    color: black;
    font-size: 13px ! important;
    right: 0 !important;    
    filter:alpha(opacity=65);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    padding-left: 5px;
    padding-right: 5px;
}

.olControlScaleLine {
    background-color: #DDDDDD;
    left: auto !important;
    right: 0 !important;
    bottom: 30px;
    padding: 5px 10px;
    color: black;
    filter:alpha(opacity=65);
    -moz-opacity:0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
}

.olControlScaleLineTop {
    font-size: 11px;
}

.olControlScaleLineBottom {
    font-size: 11px;
}

.custom-left-button {
    float:right;
}

.zoom-image {
    margin: 5px 5px 0px 15px;
}

.marker-image {
    padding:5px 5px 0px 0px;  
    margin: 0px 15px;
}

.poly-image {  
    margin: 5px 10px 0px 10px;
}

.invalid-image {
   margin: 5px 10px 10px 10px;
}

.ext-el-mask {
    opacity: 0.25;
}

.x-form-item {
    margin: 0px;
}

.x-form-check-group .x-form-check-wrap, 
.x-form-radio-group .x-form-radio-wrap {
    white-space: nowrap;
}

/*     buttons     */

.x-btn button{
    font-size: 13px;
    font-weight: bold;
}

.x-btn-left{
	width:3px;
	height:21px;
	background:url(../img/btn-sprite.gif) no-repeat 0 0;
}
.x-btn-right{
	width:3px;
	height:21px;
	background:url(../img/btn-sprite.gif) no-repeat 0 -21px;
}
.x-btn-center{
	background:url(../img/btn-sprite.gif) repeat-x 0 -42px;
	vertical-align: middle;
	text-align:center;
	padding:0 5px;
	cursor:pointer;
	white-space:nowrap;
}
/* Toggle button styles */
.x-btn-pressed .x-btn-left{
	background: url(../img/btn-sprite.gif) no-repeat 0 -63px;
}
.x-btn-pressed .x-btn-right{
	background: url(../img/btn-sprite.gif) no-repeat 0 -84px;
}
.x-btn-pressed .x-btn-center{
	background: url(../img/btn-sprite.gif) repeat-x 0 -126px;
}

.reset-map{
    background-image: url(../img/world.png) !important;
}

.olControlLayerSwitcher{
    top: 60px !important;
}