<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>{% block title %}{% if title %}{{ title }}{% else %}Web Survey Tool{% endif %}{% endblock %}</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    <meta name="robots" content="noindex, nofollow" /> 
    <link rel="shortcut icon" href="/media/images/favicon.ico" />
    <link href="/media/css/themes/dandelion_v2.5/style.css" rel="stylesheet" type="text/css" media="screen" />    
    <link href="/media/css/base.css" rel="stylesheet" type="text/css" media="screen" />    
    {% block styles %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </head>
  
  <body {% block body_attribs %}{% endblock %}>
    <div class="center">
      <div id="site">
        {% block header %}
        <div id="header">
          <div id="header-top">
            <div id="logo-container">
              <h1>2013 Mid-Atlantic Recreational Boater Survey</h1>
            </div>
          </div>    <!-- header-top -->
        </div>      <!-- header -->
        {% endblock %}
        <!--<div id="main">  -->
          <div id="content-container" class="content-gradient">
            {% block content %}
            {% endblock %}
          </div>  <!-- content -->
        <!--</div>     main -->
      </div>    <!-- site -->
    </div>      <!-- center -->
  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16762197-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>  
</body>
</html>
