{% extends "base.html" %}

{%block title %}2012 Northeast Boater Survey - Interview Complete{% endblock %}
{% block styles %}
<style type="text/css">
ul, li {
    padding: 0px;
    margin: 0.2em 1em 0.8em;
}

li {
    font-size: 14px;
}


#footer-container {
    position: absolute;
}
</style>
<link rel="icon" href="/media/img/favicon.ico" type="image/x-icon"> 
{% endblock %}

{% block content %}
<div id="full-width">
<h2>You have already completed this survey.</h2> 
<br />
<br />
<ul>
    <li><a href="http://recreation.seaplan.org/thank-you-2.php">More information about future boater surveys</a></li>
    <li><a href="http://recreation.seaplan.org">Seaplan Recreation Page</a></li>
</ul>
</div>  <!-- full-width -->
<div id="footer-container">
  <div id="footer">
<p>If you need additional help, you can call 617-737-2600 ext. 102, email <a href="mailto:help@seaplan.org">help@seaplan.org</a>, or refer to our <a target="_blank" href="/detailed_instructions">detailed drawing instructions</a> page.</p>

</div>
</div>
{% endblock %}
