{% extends "base.html" %}

{%block title %}2012 New England Boater Survey - Interview Complete{% endblock %}
{% block styles %}
<style type="text/css">
ul, li {
    padding: 0px;
    margin: 0.2em 1em 0.8em;
}

li {
    font-size: 14px;
}
</style>
<link rel="icon" href="/media/img/favicon.ico" type="image/x-icon"> 
{% endblock %}

{% block content %}

<h2>You have already completed this survey.</h2> 
<br />
<br />
<ul>
    <li><a href="http://www.maboatersurvey.com/thanks.htm">More information about future boater surveys</a></li>
    <li><a href="http://recreation.seaplan.org">Seaplan Recreation Page</a></li>
</ul>

    
<br />
<p>If you need additional help, you can call 617-737-2600 ext. 102, email <a href="mailto:help@seaplan.org">help@seaplan.org</a>, or refer to our <a target="_blank" href="/detailed_instructions">detailed drawing instructions</a> page.</p>

<br/><br/>
<div align="center"><img width=666 height=83 src="/media/img/logos.jpg"/></div>
{% endblock %}
