{% extends "base.html" %}

{% block content %}

<h2>Map Tool Overview</h2>

    <table border="0" padding="5px">
        <col width="160px" />
        <col width="600px" align="left" />
        <tr>
            <td colspan="2">
            For this next part you will use a map to:
            </td>
        </tr><tr>
            <td colspan="2">1. Zoom to where you started your last trip aboard your <i>{{vessel}}</i> in {{month|capfirst}}.  This is the <i>SAME</i> last trip you just finished answering questions about.</td> 
        </tr><tr>
            <td><img src="/media/img/nav_arrows.png" style="width: 60px; height: 80px; margin-left: 20px;" />
                <img src="/media/img/nav_zoombar.png" style="width: 60px; height: 80px; margin-left: 30px;" />
            </td>            
        </tr><tr>
            <td colspan="2">2. Draw the route you took during this trip.  You will draw your entire <i>ROUNDTRIP</i> route from start to finish.</td>
        </tr><tr>
            <td><img src="/media/img/route_intro.png" style="width: 160px; height: 120px; margin-left: 20px;" /></td>
        </tr><tr>
            <td colspan="2">3. Identify any areas where you engaged in recreational activities.</td>
        </tr><tr>
            <td><img src="/media/img/area_intro.png" style="width: 160px; height: 120px; margin-left: 20px;" /></td>
            <td><ul>
            </ul></td>
        </tr>
    </table>
<br />
<p>If you need additional help, you can call 617-287-5576, email <a href="mailto:help@maboatersurvey.com">help@maboatersurvey.com</a>, or refer to our <a target="_blank" href="http://maboatersurvey.com/faq.htm#map">frequently asked questions page</a>.</p>

   <form class="gwst-form" method="post" action="/draw/">
   <input id="submit" type="submit" value="Continue" style='margin-right: 400px' />
   <input id="submit" type="button" value="Skip Mapping Completely" onclick='confirm("Are you sure you want to skip the entire drawing portion of the survey?  Click \"Ok\" if Yes, otherwise click \"Cancel\". Once you skip this, you will not be able to come back.  Remember, information is kept confidential and step-by-step instructions are provided.")'/>
   </form>

{% endblock %}